html, body {
    height: 100%;
    margin: 0;
}

body {
    background: radial-gradient(ellipse at center, #6b4123 30%,#683e21 40%, #4e2b13 70%, #3e220e 90%);
    color: #fff;
    font-family: serif;
    font-weight: normal;
    text-shadow: 8px 8px 8px #3c1f0b;
}

a {
    font-size: 2.2rem;
    text-decoration: none;
    color: #fff;
    margin-right: 2rem;
    margin-top: 1rem;
    transition: all 1s;
}

a:hover {
    font-size: 2.3rem;
}

#introcontainer {
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    min-height: fit-content;
}

#intro {
    text-align: center;
    width: 60%;
}

#fade1 {
    animation: fade 2.1s ease-in-out 0.2s forwards; 
}

#fade2 {
    animation: fade 2.1s ease-in-out 2s forwards; 
}

#fade3 {
    animation: fade 2.7s ease-in-out 3.9s forwards; 
}

#fade4 {
    display: flex;
    justify-content: flex-end;
    max-height: 1rem;
    min-height: 1rem;
    animation: fade 2.1s ease-in-out 6.3s forwards;
}

#fade1, #fade2, #fade3, #fade4 {
    opacity: 0;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@media (max-width: 768px) {
   #introcontainer {
        font-size: 1.6rem;
    }
    a {
        font-size: 1.2rem;
    }
    a:hover {
        font-size: 1.3rem;
    }
}

@media (min-width: 769px) and (max-width: 1200px)  {
    #introcontainer {
        font-size: 2rem;
    }
    a {
        font-size: 1.6rem;
    }
    a:hover {
        font-size: 1.7rem;
    }
}
