html, body {
    height: 100%;
    margin: 0;
}

body {
   
    background: radial-gradient(ellipse at center, #6b4123 30%,#683e21 40%, #4e2b13 70%, #3e220e 90%);
    color: #fff;
    
    font-family: serif;
    font-weight: normal;
    font-size: 2.5rem;
    text-shadow: 8px 8px 8px #3c1f0b;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#intro {
    text-align: center;
    width: 60%;
   
    
}

#fade1 {
    
    animation-name: fade1;
    animation-delay: 1s;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
}

#fade2 {
    
    animation-name: fade2;
    animation-delay: 4s;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
}

#fade3 {
    
    animation-name: fade3;
    animation-delay: 7.5s;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
}



#fade1,
#fade2,
#fade3 {
    opacity: 0; /* Set the initial opacity to 0 */
    animation-fill-mode: forwards;
}

@keyframes fade1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade3 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 1.5rem; /* Adjust the font size for smaller screens */
    }
}


@media (min-width: 769px) and (max-width: 1200px)  {
    body {
        font-size: 2rem; /* Adjust the font size for smaller screens */
    }
}